<div>
  <div class="month">
    <ul>
      <li class="prev" onclick="prevMonth()">&#10094;</li>
      <li class="next" onclick="nextMonth()">&#10095;</li>
      <li id="month" value="12">12<br><span id="year" value="2018">2018</span></li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>Mandag</li>
    <li>Tirsdag</li>
    <li>Onsdag</li>
    <li>Torsdag</li>
    <li>Fredag</li>
    <li>Lørdag</li>
    <li>Søndag</li>
  </ul>

  <ul class="days">
      {{#each days}}
          <li onclick="bookingThisDay({{this}})">{{this}}</li>
      {{/each}}
  </ul>
</div>

<div style="display:flex;">
  {{#each fields}}
  <ul>
    <li><b>{{@key}}</b></li>
    {{#each this}}
    <li>
        {{formatBooking this}}
    </li>
    {{/each}}
  </ul>
  {{/each}}
</div>
