<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="calendar.css" />
  <script src="handlebars-v4.0.12.js"></script>
  <script src="calendar.js"></script>
  <script src="controller.js"></script>
</head>

<body>
  <div class="grid-container">
    <header>
      <h1>Kunstgræsbanens bookingsystem</h1>
          <button onclick="logout()">Log ud</button>
    </header>

    <main id="calendar">
    </main>

    <div id="booking-overview">
      <div id="booking-details">
        <h2>Bane oversigt</h2>
        <select id="selectBane" onchange="getBookings(this.options[this.selectedIndex].value)">
            <option disabled selected value> -- vælg en bane --</option>
            {{#each options}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>

        <div id="bookings"></div>


        <table id="booking-information">
          <tr>
            <th>Booking information</th>
            <th> </th>
          </tr>
          <tr>
              <td>Dato: </td>
            <td id="datoInf"></td>
              <td>  </td>
              <td>Lejer: </td>
            <td id="renterInf"></td>
          </tr>
          <tr>
              <td>Start tid: </td>
            <td id="startTimeInf"></td>
              <td>  </td>
              <td>Kontaktperson: </td>
            <td id="contactPersonInf"></td>
          </tr>
          <tr>
              <td>Slut tid: </td>
            <td id="endTimeInf"></td>
              <td>  </td>
              <td>Mail: </td>
            <td id="mailInf"></td>
          </tr>
          <tr>
            <td>Lys: </td>
            <td id="lightInf"></td>
              <td>  </td>
              <td>Tlf: </td>
              <td id="phoneInf"></td>
          </tr>
          <tr>
              <td>Omkl: </td>
            <td id="lockerRoomInf"></td>
              <td>  </td>
              <td>Bemærkninger: </td>
              <td id="commentsInf"></td>
          </tr>
          <tr>
            <button id="deleteBtn">Slet booking</button>
          </tr>
        </table>
      </div>

      <div id="booking-form">
        <h2 id="ny-booking-label">Ny booking</h2>

        <div id="dateData">
          <h3>Booking information</h3>

          <select id="footballField">
                <option disabled selected value> -- vælg en bane --</option>
                {{#each options}}
                    <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
          <label>Fra Dato: <input type="text" placeholder="DD-MM-YYYY" id="date" onkeyup="copyText()"></label>
          <br>
          <label>Til Dato: <input type="text" placeholder="DD-MM-YYYY" id="date2" ></label>
          <label>Start tid: <input type="text" placeholder="TT:MM" required id="startDate" onkeyup="price()"> </label>
          <br>
          <label>Slut tid: <input type="text" placeholder="TT:MM" required id="endDate" onkeyup="price()"> </label>
          <br>
          <br>
          <label id="checkbox1">Lys: <input type="checkbox" id="light" onclick="price()"></label>
          <br>
          <label id="checkbox2">Omkl: <input type="checkbox" id="lockerRoom"></label>
        </div>

        <div>
          <h3>Kontakt information</h3>

          <label>Lejer: <input type="text" required id="renter"></label>
          <label>Kontaktperson: <input type="text" required id="contactPerson"></label>
          <label>Mail: <input type="text" id="mail"></label>
          <label>Tlf: <input type="text" id="phone"></label>
          <br>
          <label>Bemærkninger: <textarea id="comment"></textarea></label>
        </div>

        <h3 id="totalPrice">Pris: </h3>
        <br>
        <button id="create-booking-button" onclick="createBooking()">Reserver tid</button>
      </div>
    </div>

</body>
