<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="handlebars-v4.0.12.js"></script>
    <script src="controller.js"></script>
</head>

<body>

<div id="grid-con1" class="grid-con">
    <div id="con1-header">
    <h1>Kunstgræsbanens bookingsystem</h1>
    </div>
    <div id="con1-utility">
        <button id="kalender-button" onclick="loadCalendar()">Kalender</button>
        <button id="instillinger-button">Instillinger</button>
        <a id="log-out" href="/logout">Log ud</a>
    </div>
</div>

<div id="calendar">
</div>

<div class="grid-con">
<div id="grid-con2" class="grid-con">
    <div id="con2-header">
    <h2>Vælg bane for at se bookede tider</h2>
    </div>
    <div id="con2-utility">
    <select id="selectBane" onchange="getBookings(this.options[this.selectedIndex].value)">
        <option disabled selected value> -- vælg en bane --</option>
        {{#each options}}
            <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
        <div id="bookings"></div>
    <input type="button" value="Ny booking" onclick="toggleBookingForm()" id="new-booking-button">
        <table id="booking-information">
            <tr>
                <th>Booking information</th>
                <th>Kontakt information</th>
            </tr>
            <tr>
                <td>Dato: XXX</td>
                <td>Lejer: XXX</td>
            </tr>
            <tr>
                <td>Start tid: XXX</td>
                <td>Kontaktperson: XXX</td>
            </tr>
            <tr>
                <td>Slut tid: XXX</td>
                <td>Mail: XXX</td>
            </tr>
            <tr>
                <td>Lys: XXX</td>
                <td>Tlf: XXX</td>
            </tr>
            <tr>
                <td>Omkl: XXX</td>
                <td>Bemærkninger: XXX</td>
            </tr>
        </table>
    </div>
</div>

<div class="grid-con">
    <form id="booking-form" action="">
        <h1 id="ny-booking-label">Ny booking</h1>

        <div id="dateData">
            <h2>Booking information</h2>

            <select id="selectBane" id="footballField">
                <option disabled selected value> -- vælg en bane --</option>
                {{#each options}}
                    <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <label>Dato: <input type="text" id="date"></label>
            <br>
            <label>Start tid: <input type="text" required id="startDate"> </label>
            <br>
            <label>Slut tid: <input type="text" required id="endDate"> </label>
            <br>
            <br>
            <label id="checkbox1">Lys: <input type="checkbox" id="light"></label>
            <br>
            <label id="checkbox2">Omkl: <input type="checkbox" id="lockerRoom"></label>
        </div>

        <div id="bookingData">
            <h2>Kontakt information</h2>

            <label>Lejer: <input type="text" id="renter"></label>
            <label>Kontaktperson: <input type="text" id="contactPerson"></label>
            <label>Mail: <input type="text" id="mail"></label>
            <label>Tlf: <input type="text" id="phone"></label>
            <br>
            <label>Bemærkninger: <textarea id="comment"></textarea></label>
        </div>

        <div id="priceData">
                <h2>Pris oversigt</h2>
            <br>
            <table id="price-information">
                <tr>
                    <th></th>
                    <th>   </th>
                    <th>Pris</th>
                </tr>
                <tr>
                    <td>Baneleje</td>
                    <td>   </td>
                    <td>XXX</td>

                </tr>
                <tr>
                    <td>Lys</td>
                    <td>   </td>
                    <td>XXX</td>

                </tr>
                <tr>
                    <th>Pris i alt</th>
                    <td>   </td>
                    <td>XXX</td>

                </tr>
            </table>
        </div>

            <button id="create-booking-button" onclick="createBooking()">Reserver tid</button>
    </form>
</div>
</body>
