<!DOCTYPE html>
<html>
<head>
  <title>Express-session</title>
    <link rel="stylesheet" href="style.css"/>
</head>
  <body>
  <h1>Reservation</h1>
  <div class="grid-container" id="ReservationsData">
    <div class="grid-item">
        <h2>Information</h2>
    </div>
    <div class="grid-item">
        <label>Lejer: <input type="text"></label>
    </div>
    <div class="grid-item">
        <label>Kontaktperson: <input type="text"></label>
    </div>
    <div class="grid-item">
        <label>Mail: <input type="text"></label>
    </div>
    <div class="grid-item">
        <label>Tlf: <input type="text"></label>
    </div>
    <br>
    <div class="grid-item">
        <label>Kontakt ASA: <input type="text"></label>
    </div>
    <div class="grid-item">
        <label> Mail: <input type="text"></label>
    </div>
    <div class="grid-item">
        <label> Tlf: <input type="text"></label>
    </div>
    <br>
    <div class="grid-item">
         <label id="checkbox1">Lys: <input type="checkbox"></label> <label id="checkbox2">Omkl: <input type="checkbox"></label>
    </div>
    <br>
    <div class="grid-item">
            <label>Bemærkninger: <textarea></textarea></label>
    </div>
    </div>
    <div class="grid-container" id="PrisData">

        <div class="grid-item">
            <h2>Pris oversigt</h2>
        </div>
        <table class="grid-item">
            <tr>
            <th>   </th>
            <th>Banetype</th>
            <th>Pris</th>
            <th>Timér</th>
            <th>Á kr.</th>
            <th>I alt</th>
            </tr>
            <tr>
                <td>Pris baneleje</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td>Pris Lys</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>

            </tr>
            <tr>
                <td>Pris i alt</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="grid-item">
          <button>Reserver tid</button>
    </div>
    <br>
        <div>
             <a href="/logout">Log ud</a>
        </div>
  </body>
</html>

