<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="handlebars-v4.0.12.js"></script>
    <script src="controller.js"></script>
</head>
<body>
<div>
    <select onchange="getBookings(this.options[this.selectedIndex].value)">
        <option disabled selected value> -- select an option --</option>
        <option value="kunst5m1">5-mands 1</option>
        <option value="kunst5m2">5-mands 2</option>
        <option value="kunst3m1">3-mands 1</option>
        <option value="kunst3m2">3-mands 2</option>
        <option value="kunst3m3">3-mands 3</option>
        <option value="kunst3m4">3-mands 4</option>
        <option value="futsal">Futsal</option>
    </select>
</div>
<div id="bookings">
    {{#each booking}}
        <p>Start tid: {{this.startDate}} Slut tid: {{this.endDate}}</p>
    {{/each}}
</div>
</body>