<!DOCTYPE html>
<html>
<head>
  <title>Express-session</title>
    <link rel="stylesheet" href="session.css">
</head>
  <body>
    <h3>Ingen adgang!</h3>
    <a href="/">Log ind</a>
  </body>
</html>

